.info {
    background-color: rgb(92, 189, 113);
    color: rgb(255, 0, 157);

}

.d1 {
    background-color: rgb(128, 106, 106);
    color: rgb(0, 0, 0);
}

.more-about-me {
    color: blue;
    font-size: 50px;
}